*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  padding:0;
  margin: 0;
  color: #152920;
}

.game_start{
  background-color: #152938;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  background: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.container > .theme_group{
  width: 100%;
}

.btn_btn{
  padding: .6rem 1rem;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: .9rem;
  margin: .4rem .4rem;
}

.bg-grey{
  background: #BCCED1;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.btn_btn:hover{
  cursor: pointer;
}

.flex{
  display: flex;
}

.bg_white{
  background: #ffffff;
}

.p-10{
  padding: 1.2rem;
}

.py-10{
  padding: .6rem 0;
}

.ml-10{
  margin-left: .8rem;
}

.mt-10{
  margin-top: .8rem;
}

.m-10 {
  margin: 1.5rem;
}

.text-center{
  text-align: center;
}

.rounded_border{
  border-radius: 5px;
}

.game_board {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game_board-header {
  margin: 3rem auto; 
  display: flex;
  width: calc(100% - 10%);
  max-width: 600px;
}

.game_board-header-controls {
  display: inline;
  margin-left: auto;
}

.game_board-header p {
  display: inline;
  align-self: start;
}
.restart {
  margin-right: 0.2rem;
  background-color: #fda214;
  color: #fff;
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.restart:hover {
  cursor: pointer;
}

.new_game {
  background-color: #BCCED1;
  color: #304859;
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.new_game:hover {
  cursor: pointer;
}

.logo {
  align-self: start;
  width: 4rem;
  margin: auto 0;
}

.icon {
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0.2rem;
  background: #304859;
  color: #fff;
}

.icon:focus{
  outline: none;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 18rem;
  margin: 0 auto;
  align-items: space-between;
}

.icon:hover {
  cursor: pointer;
}

.numbers {
  font-weight: 700;
}

.cover {
  background: #304859;
  transition: all 500ms ease-in;
}

.cover_text {
  color: #304859;
  transition: all 500ms ease-in;
}

.disabledbutton_text {
  color: #fff;
  /* transition: all 100ms ease-in; */
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
  color: #304859;
  background: #7191a5;
  transition: all 500ms ease-in;
}

.disabledbtntemp {
  pointer-events: none;
}

.selected {
  background-color: #fda214;
  transition: all 500ms ease-in;
}

.in_game_info {
  margin: 3rem auto;
  display: flex;
  width: calc(100% - 10%);
  max-width: 600px;
}

.time_container,
.moves_container {
  background: #f2f2f2;
  border-radius: 0.3rem;
  width: 50%;
  padding: 0.002px 0.8rem;
}

.time_container {
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem .4rem;
}

.moves_container {
  margin-top: 2rem;
  padding: 1rem .4rem;
  margin-left: auto;
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.bold_text {
  margin-left: auto;
  font-size: 1rem;
  font-weight: 700;
}


.game_end{
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_end > .solo{
  background: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.text_bg{
  width: 94%;
  background: #f2f2f2;
  padding: 1rem .7rem;
  margin: .3rem 0;
  border-radius: 6px;
}

.sm-text{
  font-size: .8rem;
}

.text-bold{
  font-weight: 700;
}

.solo > .controls {
  display :flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-end-btn{
  padding: .7rem 1rem;
  width: 94%;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  margin: .4rem 0;
}

.bg-yellow{
  background: #fda214;
}

.text-white{
  color: #fff;
}


/* while we get bigger */
@media only screen and (min-width: 600px) {
  .game_board-header{
    /* max-width: calc(50%) */
  }
}
/* @media only screen and (min-width: 400px) {
  .game_board-header{
min-width: 30rem;
  }
} */

.visible {
  display: block;
}


.hidden {
  display: none;
}

.game_start-active{
  background-color: #152938;
  color: #fff;
}